@media only screen and (max-width: 1920px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }

    body {

        margin: 6vh 6%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    header {
        text-align: center;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(244, 99, 10);
        padding: 1rem;
    }
    /*no funciona en firefox*/
    #titulo {
        text-align: center;
        position: sticky;
        background: linear-gradient(#1497be, #1c2aec);
        top: 0px;
        background-clip: text;
        color: white;
        animation: text 5s linear infinite;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
    }

    @keyframes text {
        0% {
            filter: hue-rotate(0deg);
        }

        100% {
            filter: hue-rotate(360deg);
        }
    }


    #parrafos {
        text-align: justify;
        width: 50%;
        margin: 0 auto;
    }

    #parrafos:hover {
        background-color: rgb(235, 212, 8);
        cursor: pointer;
        transition: all 0.5s ease;
        }

    #parrafos::first-letter {
        font-size: 1.5em;
    }

    a {
        margin: 0.5em 2%;
        height: 1.5em;
        width: 10%;
        text-align: center;
        text-decoration: none;
        padding-top: 0.2em;
        text-shadow: 2px 2px black;
        cursor: pointer;
        font-size: xx-large;
        background-color: rgb(247, 235, 6);
        box-shadow: 5px 5px 5px 0 black;
        border-radius: 0.4em;
        color: rgb(240, 121, 9);

    }

    #activo {
        box-shadow: 5px 5px 5px 0 black inset;
        background-color: orange;
    }

    img {
        width: 500px;
        display: block;
        margin: 0 auto;
    }

    #caja {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    article {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1%;
        padding: 1%;
    }

    p {
        text-align: left;
    }

    /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

    @media screen and (max-width:640px) and (orientation: portrait) {
        body {
            background-color: black;
            color: white;
        }
    }


    .header2 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: black;
        margin: 30px 0;
        transition-property: opacity, left, top, height;
        transition-duration: 3s, 5s;
        
          
    }

    h1 {
        font-size: 55px;
        background: -webkit-linear-gradient(#ff0000,#7686fd);
        -webkit-text-fill-color: white;
    }

    

    .flex {
        background: rgb(235, 212, 8);
        border: 1px solid black;
        display: flex;
        padding: 20px;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        max-width: 1200px;
        margin: 0 auto;
    }

    .flex2 {
        background: rgb(235, 212, 8);
        border: 1px solid black;
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 85%;
    }

    .caja {
        background-color: white;
        color: black;
        border: 5px solid orange;
        font-weight: bold;
        height: 120px;
        width: 120px;
        line-height: 120px;
        text-align: center;
        margin: 6px;
    }

    .imagen {
        flex-shrink: 0;
        width: 120px;
        height: 120px;
        overflow: hidden;
        position: relative;
    }

    .c1 {
        order: 3;
    }

    .c2 {
        order: 4;
    }

    .c3 {
        order: 1;
    }

    .c4 {
        order: 2;
    }

    .imagen:hover {
        transform: scale(1.2);
        transition: transform .2s;
    }

    .flex:hover {
        transform: scale(1.2);
        transition: transform .2s;
    }

    .container {
        display: flex; 
        flex-direction: row; 
        text-align: center;
        padding: 10px;
        flex-wrap: wrap;
      }
  
    .header, .articulo, .izquierda, .derecha, .footer {
        flex-grow: 1;
        flex-basis: 100%;
        padding: 10px;
    }

    @media all and (min-width: 600px){
        .aside{flex: 1 1 auto;}
    }
    @media all and (min-width: 800px){
        .articulo{flex: 2 0;}
        .izquierda{order: 1;}
        .articulo{order: 2;}
        .derecha{order: 3;}
        .footer{order: 4;}
    }

    .header{background: #581845;}
    .articulo{background: #ffc300;}
    .izquierda{background: #900c3f;}
    .derecha{background: #c70039;}
    .footer{background: #daf7a6; color: black;}

}